:root{
    --cor-de-fundo:#0000;
    --verde:#5FFF57;
    --branco:#FFFFFF;
    --botao-ativo:#3a357e;
    --botao-inativo:#rgb(58,55,94,0.5);
    --texto-fundo:#rgb(58,55,94,0.3);
}

*{
    background-color: crimson;
    color:white;
}

.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0px;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botao{
    background-color: black;
    color: #FFFFFF;
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 18px;
    padding: 1cm;
}

